<%= title "Announcements" %>

<% unless @announcements.blank? %>
  <% list do %>
    <% @announcements.each do |announcement| %>
      <li class="<%= cycle 'odd', nil %>">
        <strong><%= link_to announcement.title, announcement %></strong>
        <p class="soft" style="margin:0">
          <%= announcement.date.strftime("%b %d, %Y") %>
          &#8212; Posted by <%= announcement.user.name %>
        </p>
      </li>
    <% end %>
  <% end %>
<% else %>
  <p>Sorry, there aren't any announcements to list just yet.</p>
<% end %>