<%= title "Announcement" %>

<h2><%= @announcement.title %></h2>
<p class="soft">
  <%= @announcement.date.strftime("%B %d, %Y") %>
  by <%= @announcement.user.name %>
</p>

<%= @announcement.body_html %>