<%= title "Welcome to The Ritzy Lunch!" %>

<div class="intro">
  <p>
    The Ritzy Lunch is a family-owned business and has been going strong
    for the past <%= Time.now.year - 1933 %> years. We take pride in our dogs, and have since 1933.
    When we spice up our chili, we know how to do it right!
  </p>
</div>

<div class="buttons">
  <%= link_to 'More About Us &#187;', about_path %>
  <%= link_to 'See Our Menu &#187;', menu_path %>
  <div class="clearfix"></div>
</div>

<div class="divider"></div>

<div id="bikenight" class="photos">
  <%= subtitle "Thursday Bike Night" %>
  
  <p>
    Weather permitting, every Thursday evening during the spring and summer the 
    Ritzy stays open until 9:00 PM and motorcyclists from near and far travel to 
    Clarksburg for hot dogs, cold beer, and time with friends. Most recently, the 
    popular game of corn hole has been added, and patrons enjoy playing on one 
    of the three corn hole boards in the parking lot across the street. Motorcyclists 
    have traveled as far away as California to Hot Dog Johns Bike Night to enjoy a 
    famous hotdog and a cold beer.
  </p>
  <p>
    So if you're in <%= link_to 'our area', location_path %> Thursday, come out 
    to Bike Night at the Ritzy! We promise you'll have a good time.
  </p>
  
  <p>Below are a few photos from Bike Night (updated weekly). Enjoy!</p>
  
  <ul class="flickr bikenight"></ul>
  <div class="inline-loading">
    <p>
      Loading Photos... <%= image_tag 'inline-loading.gif' %>
    </p>
  </div>
  
  <div class="clearfix"></div>
  
  <br />
  
  <p class="tright">
    <%= link_to "View More Bike Night Photos &#187;", 
      "http://www.flickr.com/photos/49421777@N07/tags/bikenight/", :rel => 'external' %>
  </p>
</div>