<%= title "Menu Categories" %>

<span class="right admin">
  <%= link_to 'Reorder Categories', sortable_admin_menu_categories_path %>
  | <%= link_to 'New', new_admin_menu_category_path %>
</span>

<div class="clearfix"></div>

<br />

<% unless @menu_categories.blank? %>
  <% list do %>
    <% @menu_categories.each do |cat| %>
      <li class="<%= cycle 'odd', nil %>">
        <span class="options">
          <%= link_to 'Edit', edit_admin_menu_category_path(cat) %>
          | <%= link_to 'Reorder Items', sortable_admin_menu_items_path(:category => cat.id) %>
          | <%= link_to 'Delete', admin_menu_category_path(cat), :method => :delete %>
        </span>
        <%= cat.name %>
      </li>
    <% end %>
  <% end %>
<% else %>
  <p>Sorry, there aren't any menu categories to list yet.</p>
<% end %>