<%= title "Edit User" %>

<span class="right admin">
  <%= link_to 'All Users', admin_users_path %>
  | <%= link_to 'Add New', new_admin_user_path %>
</span>

<div class="clearfix"></div>

<% form_assistant_for [:admin, @user] do |form| %>
  <%= form.partial 'form' %>
  <p class="submission">
    <%= form.submit "Update User" %>
  </p>
<% end %>