<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><%= @page_title || 'Ritzy Lunch' %></title>
    <meta name="keywords" content="ritzy lunch, clarksburg, the ritzy, ritzy, hotdogs, antonio selario, west virginia, wv" />
    <meta name="description" content="The Ritzy Lunch" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<%= stylesheet_link_tag 'base', 'facebox', 'flash', 'application' -%>
		<!--[if IE 7]><%= stylesheet_link_tag 'ie7' -%><![endif]-->
		<!--[if IE 8]><%= stylesheet_link_tag 'ie8' -%><![endif]-->
		<%= google_jquery %>
		<%= javascript_include_tag 'facebox', 'jflickrfeed.min', 'jquery.qtip', 'jquery.plugins', 'application' -%>
		<%= yield :head %>
	</head>
	<body>
	  <div id="strip">
	    <%= display_flash_messages %>
	  </div>
	  
	  <div id="hdr" class="wrapper">
	    <%= navigation :header %>
	    <%= link_to image_tag('logo.png'), root_path %>
	    
	    <div id="testimonial" class="tright">
	      <p>
	        The best darn hot dogs around!
	        <span>
	          <%= link_to 'Testimonials', testimonials_path %> 
	          | <%= link_to 'Press', press_path %>
	          | <%= link_to 'Announcements', announcements_path %>
	        </span>
	      </p>
	    </div>
	  </div>
	  
	  <div id="content" class="wrapper">
	    <div class="inner">
	      <div id="main">
	        <%= yield %>
	      </div>
	      
	      <div id="sidebar">
	        <span id="stamp">Over <strong><%= Time.now.year - 1933 %></strong> years and counting!</span>
	        
	        <div class="top"></div>
	        <div class="body">
	          <div class="polaroid">
	            <%= link_to image_tag('ritzy-building-small.png'), '/images/ritzy-building.png', :rel => 'facebox' %>
	            <p>The Ritzy Lunch &#8212; Clarksburg, WV</p>
	          </div>
	          
	          <div class="hours rounded">
	            <p><strong>Monday - Friday</strong> 5am - 5pm</p>
	            <!-- <p><strong>Saturday</strong> 7am - 2pm</p> -->
	            <p><strong>Bike Night</strong> 5pm - 9pm</p>
	            <p class="soft small">
	              Note: Thursday Bike Night's are only during the summer
	              and are weather-permitting.
	            </p>
	          </div>
	          
	          <h3>Recent Announcements</h3>
	          <p class="soft">
	            To get the latest news and updates regarding Ritzy Lunch,
	            head over to our <%= link_to 'announcements section', announcements_path %>!
	          </p>
	          
	          <h3>Contact Us</h3>
	          <p class="soft">
    	        Do you need to get in touch with us? Feel free to
    	        call us at (304) 622-3600 or <%= link_to 'send us an email', 'mailto:ritzylunchwv@gmail.com' %>.
    	      </p>

    	      <h3>Subscribe via Email</h3>
    	      <p class="soft">
    	      	Enter your email to stay up-to-date with what's
    	      	going on at The Ritzy!
    	      </p>
    	      <% form_tag subscribers_path do %>
    	      	<%= text_field_tag :email, nil, :class => 'subscribe', :placeholder => "Your Email" %>
    	      	<div class="secret">
    	      		<%= text_field_tag :beware, nil %>
    	      	</div>
    	      	<%= submit_tag "Subscribe" %>
    	      <% end %>

	        </div>
	      </div>
	      
	      <div class="clearfix"></div>
	    </div>
	  </div>
	  
	  <div id="ftr" class="wrapper rounded">
	    <p class="left">
	      <strong>Ritzy Lunch Hot Dogs LLC</strong><br />
	      by <%= link_to 'Formed Function LLC', 'http://www.formedfunction.com', :rel => 'external' %> |
	      <%= link_to 'Site Management', admin_base_index_path %>
	    </p>
	    <p class="right">Antonio B. Selario, Owner<br />Phone (304) 622-3600</p>
	    <div class="clearfix"></div>
	  </div>
	  
	  <%= render 'shared/analytics' %>
	</body>	
</html>