<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><%= @page_title || 'The Ritzy Lunch' %></title>
    <meta name="keywords" content="ritzy lunch, the ritzy, ritzy, hotdogs, antonio selario, clarksburg, west virginia, wv" />
    <meta name="description" content="The Ritzy Lunch" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<%= stylesheet_link_tag 'base', 'facebox', 'flash', 'application' -%>
		<!--[if IE 7]><%= stylesheet_link_tag 'ie7' -%><![endif]-->
		<!--[if IE 8]><%= stylesheet_link_tag 'ie8' -%><![endif]-->
		<%= google_jquery %>
		<%= javascript_include_tag 'facebox', 'jflickrfeed.min', 'jquery.plugins', 'application' -%>
		<%= yield :head %>
	</head>
	<body>
	  <div id="strip"></div>
	  
	  <div id="hdr" class="wrapper">
	    <%= navigation :header %>
	    <%= link_to image_tag('logo.png'), root_path %>
	  </div>
	  
	  <div id="content" class="wrapper rounded">
	    <div class="inner">
	      <div id="main">
	        <%= display_flash_messages %>
	        <%= yield %>
	      </div>
	      
	      <div id="sidebar">
	        <div class="top"></div>
	        <div class="body">
	          <div class="polaroid">
	            <%= link_to image_tag('ritzy-building-small.png'), '/images/ritzy-building.png', :rel => 'facebox' %>
	            <p>The Ritzy Lunch &#8212; Clarksburg, WV</p>
	          </div>
	        </div>
	        <span id="stamp">Over <strong>75 years</strong> and counting!</span>
	      </div>
	      
	      <div class="clearfix"></div>
	    </div>
	  </div>
	  
	  <div id="ftr" class="wrapper rounded">
	    <p class="left">
	      <strong>Ritzy Lunch Hot Dogs LLC</strong><br />
	      by <%= link_to 'Formed Function LLC', 'http://www.formedfunction.com', :rel => 'external' %>
	      | <%= link_to 'Site Management', new_session_path, :id => 'admin-link' %>
	      <% if logged_in? %>
	      | <%= link_to 'Logout', logout_path %>
	      <% end %>
	    </p>
	    <p class="right">Antonio B. Selario, Owner<br />Phone (304) 622-3600</p>
	    <div class="clearfix"></div>
	  </div>
	</body>	
</html>